* {
    box-sizing: border-box;
}
#omelet {
    width: 15%;
    border-radius: 50%;
    margin-top: -150px;
    margin-left: 325px;
}
#burger {
    width: 15%;
    border-radius: 50%;
    margin-top: -150px;
    margin-left: 325px;
}
#potatoes {
    width: 15%;
    border-radius: 50%;
    margin-top: -150px;
    margin-left: 325px;
}
#Bmenu {
    font-size: 30px;
    font-style: italic;
}
#Lmenu {
    font-size: 30px;
    font-style: italic;
}
#Dmenu {
    font-size: 30px;
    font-style: italic;
}
#bullet1 {
    list-style-type: none;
    color: #6b6969;
    font-size: 17px;
}
#bullet2 {
    list-style-type: none;
    color: #6b6969;
    font-size: 17px;
}
#bullet3 {
    list-style-type: none;
    color: #6b6969;
    font-size: 17px;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}
#intro {
    text-align: center;
    align-items: center;
    width: 25%;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 4px double rgb(107, 45, 45);
    margin-top: 30px; 
}
h4 {
    font-size: 30px;
    font-style: italic;
    border-top: 4px double rgb(107, 45, 45);
    padding-top: 20px;
    align-items: center;
    text-align: center;
}
#lastparagraph {
    color: #6b6969;
    font-size: 17px;
    align-items: center;
    text-align: center;
}
#HFavicon {
    width: 2%;
}
#HLogo {
    width: 15%;
    border-radius: 50%;
    border: 4px double #6b6969;
    margin-left: 630px;
    margin-right: 630px;
}
#HLinks {
    border: 4px double #6b6969;
    margin-left: 500px;
    margin-right: 500px;
}
@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(.8);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
.animate-pop-in {
    animation: pop-in .6s ease-out forwards;
}
.rocky-dashed {
    animation-delay: .6s;
}
.header-title {
    animation-delay: .8s;
}
.header-subtitle {
    animation-delay: 1s;
}
.header-button {
    animation-delay: 1.1s;
}
.animate-pop-in {
    animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
}
@keyframes rotate-up {
    100% {
        transform: rotateZ(-4deg);
    }
}
header:after {
    animation: rotate-up .5s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
    background: #F9FCFF;
    content: "";
    height: 40rem;
    left: -5%;
    position: absolute;
    right: -5%;
    top: 90%;
    transform-origin: 0 0;
    z-index: 0;
}
.pebble::after {
    content: "";
}
.pebble::before {
    content: "";
}
button::after {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
}
button {
    background: #e5ac8e;
    color: #fff;
    font-size: 14px;
    border-radius: 0.5em;
    padding: 0 1em;
    position: relative;
    overflow: hidden;
    line-height: 32px;
    margin-right: 700px;
    margin-left: 700px;
    margin-top: 40px;
}
button:hover::after, button:focus::after {
    animation: sheen 1s forwards;
}
@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}



