.title {
    background:  rgb(108, 139, 83);
    color: rgb(245, 241, 241);
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}
body {
    font-family: "Arial", sans-serif;
}
/* Style the links inside the pill navigation menu */
.pill-nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}
/* Change the color of the links on mouse-over */
.pill-nav a:hover {
    background-color: rgb(216, 213, 213);
    color: black;
}
a:visited {
    color: rgb(133, 72, 72);
}
.active {
    border: 1px solid black;
    margin-right: 10px;
}
.youth {
    border: 1px solid black;
    margin-right: 10px;
}
.teens {
    border: 1px solid black;
    margin-right: 10px;
}
.elderly {
    border: 1px solid black;
    margin-right: 10px;
}
.pill-nav {
    margin-left: 540px;
    margin-right: 485px;
    margin-bottom: 40px;
    margin-top: 40px;
}
#mensgolf {
    width: 35%;
    border-radius: 50%;
    margin-left: 220px;
    margin-right: 20px;
}
#womensgolf {
    width: 35%;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 150px;
}
#questionanswer {
    font-size: 17px;
    color: rgb(109, 107, 107);
    font-weight: bold;
    margin-left: 60px;
    margin-top: 40px;
}
#division1 {
    font-size: 17px;
    color: rgb(109, 107, 107);
    font-weight: bold;
    margin-left: 90px;
    list-style: none;
}
#division2 {
    font-size: 17px;
    color: rgb(109, 107, 107);
    font-weight: bold;
    margin-left: 90px;
    list-style: none;
}
#division3 {
    font-size: 17px;
    color: rgb(109, 107, 107);
    font-weight: bold;
    margin-left: 90px;
    list-style: none;
}
.qanda {
    width: 43%;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 25px;
}
.golfstatlink {
    float: right;
    margin-top: -370px;
    margin-left: 840px;
    margin-bottom: 70px;
}
#golfstatimg {
    width: 70%;
    border-radius: 10%;
}
#golfstatcaption {
    text-align: center;
    float: right;
    margin-right: 275px;
    width: 40%;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    color: rgb(56, 97, 55);
    border: 2px solid rgb(108, 139, 83);
    padding: 20px;
}
#facts {
    width: 40%;
    margin-left: 25px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    color: rgb(109, 107, 107);
    border-top: 2px solid rgb(108, 139, 83);
}