* {
    box-sizing: border-box;
}
#potatoes {
    width: 30%;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 525px;
    margin-right: 525px;
    border: 4px solid #6b6969;
}
#bullet3 {
    list-style-type: none;
    color: #6b6969;
    font-size: 17px;
    margin-top: 40px;
    text-align: center;
    align-items: center;
    background-color: white;
    margin-left: 550px;
    margin-right: 550px;
    border: 4px solid #6b6969;
    opacity: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1 {
    color: #6b6969;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    background-color: white;
    margin-left: 550px;
    margin-right: 550px;
    border: 4px solid #6b6969;
    opacity: 80%;
}
#DFavicon {
    width: 2%;
}
#DLogo {
    width: 15%;
    border-radius: 50%;
    background-color: white;
    opacity: 80%;
    border: 5px solid #6b6969;
    margin-left: 630px;
    margin-right: 630px;
    margin-top: 18px;
}
#video {
    object-fit: cover;
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#DLinks {
    font-size: 17px;
    background-color: white;
    margin-left: 500px;
    margin-right: 500px;
    border: 4px solid #6b6969;
    opacity: 80%;
    padding-top: 1px;
    padding-bottom: 1px;
}

