.title {
    background:  rgb(108, 139, 83);
    color: rgb(245, 241, 241);
    text-align: center;
    padding: 45px;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}
body {
    font-family: "Arial", sans-serif;
}
/* Style the links inside the pill navigation menu */
.pill-nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}
/* Change the color of the links on mouse-over */
.pill-nav a:hover {
    background-color: rgb(216, 213, 213);
    color: black;
}
a:visited {
    color: rgb(133, 72, 72);
}
.active {
    border: 1px solid black;
    margin-right: 10px;
}
.youth {
    border: 1px solid black;
    margin-right: 10px;
}
.teens {
    border: 1px solid black;
    margin-right: 10px;
}
.elderly {
    border: 1px solid black;
    margin-right: 10px;
}
.pill-nav {
    margin-left: 550px;
    margin-right: 500px;
    margin-bottom: 40px;
    margin-top: 40px;
}
#homeimage {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
#video1 {
    border: 1px solid rgb(108, 139, 83);
}
#babyjames {
    text-align: center;
    width: 30%;
    margin-left: 25px;
    border-bottom: 2px solid rgb(108, 139, 83);
    padding: 20px;
}
#youth2 {
    width: 9%;
    float: right;
    margin-top: -450px;
    margin-right: 470px;
    border-radius: 10%;
    border: 2px solid rgb(108, 139, 83);
}
#youth {
    width: 24%;
    float: right;
    margin-top: -450px;
    margin-right: 80px;
    border-radius: 10%;
    border: 2px solid rgb(108, 139, 83);
}
#youth3 {
    width: 19%;
    float: right;
    margin-top: -450px;
    margin-right: 625px;
    border-radius: 10%;
    border: 2px solid rgb(108, 139, 83);
}
#description {
    width: 50%;
    text-align: center;
    float: right;
    margin-top: -200px;
    margin-right: 100px;
}
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

/* Add a background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(102, 99, 99);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(108, 139, 83);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(102, 99, 99);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}